In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('pandas_code.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      1000 non-null   object
 1   학교      1000 non-null   object
 2   영어      1000 non-null   int64
 3   수학      1000 non-null   int64
 4   과학      1000 non-null   int64
 5   사회      1000 non-null   int64
 6   sw특기    530 non-null    object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

In [ ]:
df.describe()
df['수학'].describe()

np.int64(45)

In [9]:
df['수학'].min() # 최소값
df['수학'].max() # 최대값
df['수학'].mean() # 평균
df['수학'].std() # 표준편차
df['수학'].nlargest() # 표준편차

58     100
128    100
173    100
316    100
329    100
Name: 수학, dtype: int64

기본 수치계산 함수

In [ ]:
df = pd.read_excel('score.xlsx')
df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest(3) # 최대값 기본 5명
df['키'].nsmallest() # 최소값 5명
df['키'].count() # 개수
df['국어'].sum()
df['SW특기'].count()
df['학교'].unique() # 중복제거 데이터 확인
df['학교'].nunique() # 중복제거 개수 확인

2

컬럼에 대한 기본적인 함수

In [28]:
# 컬럼에 대한 확인
df['키']            # 컬럼 1개 확인
df[['이름', '키']]  # 컬럼 복수 확인
df['키'],df['이름']

# 모든 컬럼
df.columns
df.columns[0] # 컬럼 0번쨰
df.columns[0:2]
df['이름'] # 컬럼 데이터 확인
df[df.columns[[0, 3, -1]]]

  지원번호    키        SW특기
0   1번  197      Python
1   2번  184        Java
2   3번  168  Javascript
3   4번  187
4   5번  188
5   6번  202           C
6   7번  188      Python
7   8번  190          C#