In [1]:
import pandas as pd

2차원 데이터 : DataFrame
dict 타입을 2차원으로 변경 할 수 있다.

In [2]:
data = {
  '이름': ['강나래', '강태원', '강호림', '김수찬', '김재욱', '박동현', '박혜정', '승근열'],
  '학교': ['구로고', '구로고', '가산고', '구로고', '가산고', '가산고', '구로고', '구로고'],
  '키': [197, 184, 168, 187, 188, 202, 188, 190],
  '국어': [90, 40, 80, 40, 15, 80, 55, 100],
  '영어': [85, 35, 75, 60, 20, 100, 65, 85],
  '수학': [100, 50, 70, 70, 10, 95, 45, 90],
  '사회': [85, 25, 75, 80, 10, 80, 35, 95],
  'SW특기': ['Python','Java', 'Javascript', ' ', ' ', 'C', 'Python', 'C#']
}

In [ ]:
data
type(data)

dict

In [7]:
data['키']

[197, 184, 168, 187, 188, 202, 188, 190]

Dict 타입의 데이터를 DataFrame으로 변환

In [ ]:
df = pd.DataFrame(data)
# df = pd.DataFrame(data, columns=['SW특기', '이름', '학교']) # 데이터에서 특정 컬럼만 뽑아서 가져올 수 있다.
# 순서도 변경이 가능하다.

In [10]:
df

    이름   학교    키   국어   영어   수학  사회        SW특기
0  강나래  구로고  197   90   85  100  85      Python
1  강태원  구로고  184   40   35   50  25        Java
2  강호림  가산고  168   80   75   70  75  Javascript
3  김수찬  구로고  187   40   60   70  80
4  김재욱  가산고  188   15   20   10  10
5  박동현  가산고  202   80  100   95  80           C
6  박혜정  구로고  188   55   65   45  35      Python
7  승근열  구로고  190  100   85   90  95          C#

In [ ]:
# df[['이름','키']]
# df[['이름','키', '국어']] # 3개 컬럼 출력 -> [[]]
df[['국어','이름']]
# df['이름'][1]

'강태원'

In [14]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'SW특기'], dtype='object')