In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('chipotle.tsv', sep='\t')

In [4]:
df.groupby('item_name')['order_id'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: order_id, dtype: int64

In [5]:
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [6]:
list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [ ]:
df['item_name'].value_counts()
# index[0] : 1번째 리스트 제목을 출력
df['item_name'].value_counts().index[0]

In [ ]:
df.columns
# 주문번호, 주문수량, 메뉴명, 추가옵션, 메뉴 금액
#'order_id', 'quantity', 'item_name', 'choice_description', 'item_price'

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# 메뉴별 주문 수량 체크
# 주문 평균 금액을 체크

In [8]:
# 메뉴별 주문 수량 체크
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [12]:
# 주문메뉴 Chicen Bowl 인 quantity 합계를 구하세요.
df[df['item_name'] == 'Chicken Bowl']['quantity'].sum()

np.int64(4972)

In [37]:
# 총 주문 수량 출력하세요.
len(df['order_id'].unique())
# df.shape

1834

In [39]:
# 주문 평균 금액을 출력하세요.
# 1. item_price - > float 변환후
# 2. order_id 그룹화
# 3. order_id 로 합계를 낸 후, 평균을 해야한다.
# df['item_price'] = float(df['item_price'][1:])
df['item_price'].values
# df['item_price'] = df['item_price'].str[1:].astype(float)
# df['item_price'] = df['item_price'].str.replace('$', '').str.astype(float)
# for index, i in enumerate(df['item_price'].values):
#   df.iloc[index, 'item_price'] = float(i[1:])
df.groupby('order_id')['order_id'].sum().mean()

np.float64(2336.8440567066523)

In [48]:
## 각 아이템별 가격을 구하세요.
# 주문이 1개인 메뉴를 출력하세요.
# 순차정렬하세요.
filt = df['quantity'] == 1
df[filt].groupby('item_name').min().sort_values('item_price')
df[filt].groupby('item_name')[['item_price']].min()
# df[filt][['item_name', 'item_price']].sort_values('item_price')

                                      item_price
item_name
6 Pack Soft Drink                           6.49
Barbacoa Bowl                               8.69
Barbacoa Burrito                            8.69
Barbacoa Crispy Tacos                       8.99
Barbacoa Salad Bowl                         9.39
Barbacoa Soft Tacos                         8.99
Bottled Water                               1.09
Bowl                                         7.4
Burrito                                      7.4
Canned Soda                                 1.09
Canned Soft Drink                           1.25
Carnitas Bowl                               8.99
Carnitas Burrito                            8.69
Carnitas Crispy Tacos                       8.99
Carnitas Salad                              8.99
Carnitas Salad Bowl                         9.39
Carnitas Soft Tacos                         8.99
Chicken Bowl                                8.19
Chicken Burrito                             8.19
Chicken Crispy Tacos                        8.49
Chicken Salad                               8.19
Chicken Salad Bowl                          8.75
Chicken Soft Tacos                          8.49
Chips                                       1.99
Chips and Fresh Tomato Salsa                2.29
Chips and Guacamole                         3.89
Chips and Mild Fresh Tomato Salsa            3.0
Chips and Roasted Chili Corn Salsa          2.95
Chips and Roasted Chili-Corn Salsa          2.39
Chips and Tomatillo Green Chili Salsa       2.95
Chips and Tomatillo Red Chili Salsa         2.95
Chips and Tomatillo-Green Chili Salsa       2.39
Chips and Tomatillo-Red Chili Salsa         2.39
Crispy Tacos                                 7.4
Izze                                        3.39
Nantucket Nectar                            3.39
Salad                                        7.4
Side of Chips                               1.69
Steak Bowl                                  8.69
Steak Burrito                               8.69
Steak Crispy Tacos                          8.69
Steak Salad                                 8.69
Steak Salad Bowl                            9.39
Steak Soft Tacos                            8.99
Veggie Bowl                                 8.49
Veggie Burrito                              8.49
Veggie Crispy Tacos                         8.49
Veggie Salad                                8.49
Veggie Salad Bowl                           8.75
Veggie Soft Tacos                           8.49

In [65]:
# 한 주문당 20달러 이상 주문한 order_id를 출력하세요.
# df[filt].groupby('order_id')['item_price'].count()

# filt = (df.groupby('order_id')['item_price'] >= 20)
# filt = (df.groupby('order_id')['item_price'] >= 20)
df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False) >= 20
df_s.loc[filt]

order_id
926     205.25
1443    160.74
1483     139.0
691     118.25
1786     114.3
         ...
126       20.0
1208      20.0
1521      20.0
951       20.0
1805      20.0
Name: item_price, Length: 589, dtype: object

In [ ]:
# Chicken Salad Bowl 몇개 주문되었는지 출력하세요.
filt = (df['item_name'] == 'Chicken Salad Bowl') & (df['quantity'] >1)
df[filt]['quantity'].count() # 110
# 주문 총수량을 출력하세요.
# df[filt]['quantity'].sort_values(ascending=False).head(30)
# Chicken Bowl 2개 이상 주문한 횟수를 출력하세요. 13개

np.int64(13)

In [73]:
# Chicken Bowl 2개 이상 주문한 횟수를 출력하세요.
filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity'] > 1)
# df[filt]['quantity'].count()
df[filt][['quantity', 'item_name']].sort_values('quantity', ascending=False).count()
df[filt]['quantity'].count()
df[filt]['quantity'].sum()

np.int64(68)

In [67]:
## Veggie Salad Bowl
filt = df['item_name'] == 'Veggie Salad Bowl'
df.loc[filt]

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
# df = pd.read_excel('score.xlsx')
df

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#

In [14]:
# 구로고 학생 키의 합계를 구하세요.
df.groupby('학교')['키'].sum()

학교
구로고     924
디지털고    580
Name: 키, dtype: int64